@font-face {
    font-family: Rubik_Mono_One;
    src: url("/fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf");
}
@font-face {
    font-family: Lato;
    src: url("/fonts/Lato/Lato-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    font-family: Lato;
    /*background-image: url("b10.jpg");
    */
}

button {
    border: none;
    background-color: rgb(255, 214, 29);
    box-shadow: 3px 3px 7px #0000006e;
    font-size: 1em;
    font-family: inherit;
    padding: 7px;
    margin: 15px 15px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 227, 101);
}

button:active {
    box-shadow: 1px 1px 3px #0000006e;
}

.evt {
    box-shadow: 2px 2px 7px #0000006e;
    padding: 10px;
    margin: 8px 0;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: auto max-content;
    gap: 3px 7px;
    overflow: visible;
    background-color: white;
}

.evt_title {
    grid-row: 1;
    grid-column: 1;
}
.evt_time {
    grid-row: 1;
    grid-column: 2;
}
.evt_misc {
    grid-row: 2;
    color: #000a;
}
h1{
    margin-right: 15px;
    margin-left: 15px;
}

h2{
    margin-left: 15px;
}
form{
    flex-direction: column;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

input, select{
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    box-shadow: 3px 3px 7px #00000027;
    font-size: 1em;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid #0004;
    padding: 5px;
    box-sizing: content-box;
    transition: .3s;
}
input:focus, select:focus{
    border-color: rgb(255, 214, 29);
    background-color: #00000008;
    outline: none;
}
label {
    padding: 5px 0 0 7px;
    color: #000b;
}

div{
    flex-direction: column;
    display: flex;
    
}
#btn_back{
    margin-left: 35px;
    margin-right: 35px;

}
#add_calendar{
    align-self: center;
    width: 300px;
    text-shadow:3px 3px 7px #00000021;
    margin-top: 15px;
}
#btns{
    align-self:flex-start;
    flex-direction:row;
    display: flex;
}
.btnback{
    min-width: 100px;
}
#resp{
    color: rgb(0, 199, 76);
    transition: opacity 2s;
}